body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .gif {
    position: absolute;
    animation: float 5s infinite alternate;
  }
  
  .gif img {
    max-width: 100px;
    max-height: 100px;
    width: 10vw; /* Responsivo com base na largura da viewport */
    height: auto;
  }
  
  /* Animação de flutuação */
  @keyframes float {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }